 <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M4.5 3.75a3 3 0 00-3 3v.75h21v-.75a3 3 0 00-3-3h-15z" fill="white"/>
          <path d="M1.5 7.5v9.75a3 3 0 003 3h15a3 3 0 003-3V7.5h-21z" fill="white"/>
        </svg>
        <span>Ivoire Assurance</span>
      </div>
      <div class="footer-credit">
        <span>curated by</span>
        <div class="mobbin-logo">
          <span>devCode</span>
        </div>
      </div>
    </div>
  </footer>